<div class="sidebar">
    <p> ( ദ്ദി ˙ᗜ˙ ) </p>
    <p>Arin designs interfaces, interactions, and playful experiences that connect people and technology, integrating motion design, creative coding, and illustrations ツ</p>
    
    <div class="contact">
        <span><a href="about.html">About</a></span>
        <span>Linkedin</span>
        <span>Email</span>
    </div>

    <div class="headers">UX/Product</div>
    <ul>
        <li><a href="kurakura.html" data-page="kura_kura">Kura Kura</a></li>
        <li><a href="roster_monster.html" data-page="roster_monster">Roster Monster</a></li>
        <li><a href="byos_design_system.html" data-page="byos_design_system">BYOS Design System</a></li>
        <li><a href="peoples_vertex.html" data-page="peoples_vertex">Peoples' Vertex</a></li>
    </ul>

    <div class="headers">Creative Tech</div>
    <ul>
        <li><a href="speculative_theater.html" data-page="speculative_theater">Speculative theater</a></li>
        <li><a href="pha_lai_nam_lhai.html" data-page="pha_lai_nam_lhai">Pha Lai Nam Lhai</a></li>
        <li><a href="haiku_chatroom.html" data-page="haiku_chatroom">Haiku Chatroom</a></li>
        <li><a href="face_ddr.html" data-page="face_ddr">Face DDR</a></li>
        <li><a href="graveyard_unanswered.html" data-page="graveyard_unanswered">graveyard of the unanswered</a></li>
    </ul>

    <div class="headers">Motion/Video</div>
    <ul>
        <li><a href="becoming_thai.html" data-page="becoming_thai">becoming Thai</a></li>
        <li><a href="cuddly_logo.html" data-page="cuddly_logo">Cuddly Logo</a></li>
    </ul>
</div> 